.transaction{
    &-column{
        &-category{
            &-income{
                color: white;
                background-color: #3a78ff;
            }
            &-spend{
                color: white;
                background-color: #2ab6ae;
            }
        }

        &-amount{
            &-income{
                color:#3a78ff;
            }
            &-spend{
                color:#2ab6ae;
            }
        }
    }
    &-contents:hover{
        font-weight: bold;
        background-color: #00fff219;
        cursor: pointer;
    }

    &-date{
        border-top: 1px #2cc2bb solid;
        border-bottom: 1px #2cc2bb solid;
        &-income{
            color:#3a78ff;
        }
        &-spend{
            color:#2ab6ae;
        }
    }

    &-total{
        &-income{
            input[type="checkbox"]:checked{
                color:red;
                background-color: red;
            }
            color:#3a78ff;
        }
        &-spend{
            input[type="checkbox"]:checked{
                color:#2ab6ae;
                background-color: #2ab6ae;
            }
            color:#2ab6ae;
        }
    }
}
