.transaction{
    &-column{
        &-category{
            &-income{
                color: white;
                background-color: #3a78ff;
            }
            &-expenditure{
                color: white;
                background-color: #2ab6ae;
            }
        }

        &-amount{
            &-income{
                color:#3a78ff;
            }
            &-expenditure{
                color:#2ab6ae;
            }
        }
    }
    &-contents:hover{
        font-weight: bold;
        background-color: #8dfff941;
        cursor: pointer;
    }

    &-date{
        border-top: 1px #2cc2bb solid;
        border-bottom: 1px #2cc2bb solid;
    }

}
