body{
    margin: 0;
}
.main-header{
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(120,254,230);
    background: linear-gradient(90deg, rgba(120,254,230,1) 0%, rgba(99,230,206,1) 50%, rgba(63,187,165,1) 100%);

    .title{
        font-family: sans-serif;;
        font-size: 40px;
        line-height: 47px;
        padding: 15px 0;

        color: #FFFFFF;

    }
}

.main-month-wrap{
    margin-top: 30px;
    text-align: center;
    i{
        display: inline-block;
        font-size: 30px;
    }
    .main-month{
        display: inline-block;
        font-size: xx-large;
        margin: 0 20px;
    }
}