@import "./global.scss";
$circle-round: 565.49;
$circle-delay: 1s;
$spendTextColor : rgb(212, 108, 108);

.mean-text-wrap{
    text-align: right;
    color: $color-2;
}

.statistice-contents{
    margin-top: 20%;
    text-align: center;
}
.select-wrap{
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr; 
    grid-gap: 30px;

    .month-pay{
        text-align: right;
        > div{
            width: auto;
            display: inline-block;
        }
    }

    input[type="radio"]{
        display: none;
    }

    label{
        span{
            height: 14px;
            width: 14px;
            border-radius: 50%;
            border: 2px solid $color-2;
            float: left;
            margin-right: 5px;
        }

        span:after{
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $color-2;
            margin-top: 7px;
            margin-left: 7px;
            display: block;
            position: relative;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 300ms ease-in-out 0s;
        }
    }

    input[type="radio"]:checked ~ span:after{
        transform: translate(-50%, -50%) scale(1);
    }

    .total-spend{
        color: $spendTextColor ;
    }
}

.statistics-wrap{
    margin-top: 20px;
    text-align: center;
    .category-wrap{
        .bar-wrap{
            margin-bottom: 50px;
            border-top: 2px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;

            .content-wrap{
                // border: #F5F5F5 solid 1px;
                display: grid;
                grid-template-columns: 1.4fr 1fr 9fr 2fr;
                text-align: left;
                grid-row-gap: 0; 
                margin: 0;
                border-bottom: 1px solid #D3D3D3;

                div{
                    padding: 10px;
                    vertical-align: middle;
                    height: 30px;
                    line-height: 30px;
                }
                .percent{
                    color: $color-1;
                    vertical-align: middle;

                }
                .amount{
                    text-align: right;
                }
            }
        }
        
        .pi-wrap{
            .svg-wrap{
                height: 600px;
                width: 600px;
                polyline {
                    fill: none;
                    stroke: #C0C0C0;
                    animation: apear $circle-delay steps(1, end) forwards; 

                }
                text{
                    .percent{
                        fill: $color-1;
                    }
                    animation: apear $circle-delay steps(1, end) forwards; 
                }
                .circle-wrap{
                    border-radius: 50%;
                    background: #3f51b5; 
    
                    circle {
                        fill: none;
                        stroke-width: 180;
                        r: 90;
                        cx: 50%;
                        cy: 50%;
                    }

                    .apeared-pie{
                        animation: apear $circle-delay linear forwards; 
                    }

    
                    .pie:hover{
                        stroke: tomato;
                    }

                    .cover-pie{
                        stroke: white;
                        transform-origin: 50% 50%;
                        transform: rotate(-90deg);
                        stroke-dasharray: $circle-round $circle-round;
                        animation: draw-circle $circle-delay linear forwards; 
                    }
                    
                    @keyframes apear {
                        0% { 
                            opacity: 0; 
                        }

                        100% { 
                            opacity: 1; 
                        }
                    }
                    @keyframes draw-circle {
                        to {
                          stroke-dasharray: 0 $circle-round;
                        }
                    }
                }
            }

        }
    }
    .day-wrap{
        margin-bottom: 30px;
        line{
            stroke:#E0E0E0;
            stroke-width:1;
        }

        $line-delay: 2.0s;

        polyline{
            fill:none;
            stroke:$color-2;
            stroke-width:3;
            animation: draw $line-delay linear forwards; 
        }   
        
          
        circle{
            fill:white;
            stroke:$color-1;
            stroke-width:3;
            animation: $line-delay fadeIn;
            animation-fill-mode: forwards;
            opacity: 0;

            
        }

        .mean-text{
            fill: $color-1;  
            animation: $line-delay fadeIn;
            animation-fill-mode: forwards;
            opacity: 0;

        }

        .mean-line{
            stroke: $color-3;
            stroke-width: 2px;
            animation: draw $line-delay linear forwards, draw-mean $line-delay steps(1, end) forwards;  
        }

        @keyframes draw {
            to {
              stroke-dashoffset: 0;
            }
        }

        @keyframes draw-mean {
            to {
              stroke-dasharray: 10;
            }
        }

        @keyframes fadeIn {
            85% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}