.select-wrap{
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr; 
    grid-gap: 30px;

    .month-pay{
        text-align: right;
        > div{
            width: auto;
            display: inline-block;
        }
    }

    input[type="radio"]{
        display: none;
    }

    label{
        span{
            height: 14px;
            width: 14px;
            border-radius: 50%;
            border: 2px solid skyblue;
            float: left;
            margin-right: 5px;
        }

        span:after{
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: skyblue;
            margin-top: 7px;
            margin-left: 7px;
            display: block;
            position: relative;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 300ms ease-in-out 0s;
        }
    }

    input[type="radio"]:checked ~ span:after{
        transform: translate(-50%, -50%) scale(1);
    }

    .total-spend{
        color: rgba(63,187,165,1);
    }
}

.statistics-wrap{
    margin-top: 20px;
    text-align: center;
    .category-wrap{
        .bar-wrap{
            margin-bottom: 50px;
            border-top: 2px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;

            .content-wrap{
                // border: #F5F5F5 solid 1px;
                display: grid;
                grid-template-columns: 1.4fr 1fr 9fr 2fr;
                text-align: left;
                grid-row-gap: 0; 
                margin: 0;
                border-bottom: 1px solid #D3D3D3;

                div{
                    padding: 10px;
                    vertical-align: middle;
                    height: 30px;
                    line-height: 30px;
                }
                .percent{
                    color: rgba(63,187,165,1);
                    vertical-align: middle;

                }
                .amount{
                    text-align: right;
                }
            }
        }
        
        .pi-wrap{

            .svg-wrap{
                height: 600px;
                width: 600px;
                polyline {
                    fill: none;
                    stroke: #C0C0C0;
                }
                text{
                    .percent{
                        fill: rgba(63,187,165,1);
                    }
                }
                .circle-wrap{
                    border-radius: 50%;
                    background: #3f51b5; 
    
                    circle {
                        fill: none;
                        stroke-width: 180;
                        r: 90;
                        cx: 50%;
                        cy: 50%;
                    }
    
                    .pie:hover{
                        stroke: tomato;
                    }
                }
            }

        }
    }
    .day-wrap{
        line{
            stroke: gray;
            stroke-width:1;
        }
    }
}